body {  
font-family:Arial, Helvetica, sans-serif;   
overflow-x: hidden;
}
 
img {   
max-width: 100%;
}
 
.preview {  
display: -webkit-box;   
display: -webkit-flex;  
display: -ms-flexbox;   
display: flex;  
-webkit-box-orient: vertical;   
-webkit-box-direction: normal;  
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column;
} 
 
@media screen and (max-width: 996px) { 
.preview { 
margin-bottom: 20px;
}
}
 
.preview-pic {  
-webkit-box-flex: 1;    
-webkit-flex-grow: 1;   
-ms-flex-positive: 1;   
flex-grow: 1;
}
 
.preview-thumbnail.nav-tabs {   
border: none;   
margin-top: 15px;
}
 
.preview-thumbnail.nav-tabs li {    
width: 18%; 
margin-right: 2.5%;
}
 
.preview-thumbnail.nav-tabs li img {    
max-width: 100%;    
display: block;
cursor: pointer;
}
 
.preview-thumbnail.nav-tabs li a {  
padding: 0; 
margin: 0;  
cursor:pointer;
}
 
.preview-thumbnail.nav-tabs li:last-of-type {   
margin-right: 0;
}
 
.tab-content {  
overflow: hidden;
}
 
.tab-content img {  
width: 100%;    
-webkit-animation-name: opacity;    
animation-name: opacity; 
-webkit-animation-duration: .3s; 
animation-duration: .3s;
}
 
.card { 
margin-top: 0px;    
background: #eee;   
padding: 3em;   
line-height: 1.5em;
} 
 
@media screen and (min-width: 997px) { 
.wrapper { 
display: -webkit-box; 
display: -webkit-flex; 
display: -ms-flexbox; 
display: flex;
}
}
 
.details {  
display: -webkit-box;
    display: -webkit-flex;  
display: -ms-flexbox;   
display: flex;  
-webkit-box-orient: vertical;   
-webkit-box-direction: normal;  
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column;
}
 
.colors {   
-webkit-box-flex: 1;    
-webkit-flex-grow: 1;   
-ms-flex-positive: 1;   
flex-grow: 1;
}
 
.product-title, .price, .sizes, .colors {   
text-transform: UPPERCASE;  
font-weight: bold;
}
 
.checked, .price span { 
color: #ff9f1a;
}
 
.product-title, .rating, .product-description, .price, .vote, .sizes {  
margin-bottom: 15px;
}
 
.product-title {    
margin-top: 0;
}
 
.size {
    margin-right: 10px;
}
 
.size:first-of-type {   
margin-left: 40px;
}
 
.color {    
display: inline-block;  
vertical-align: middle; 
margin-right: 10px; 
height: 2em;    
width: 2em; 
border-radius: 2px;
}
 
.color:first-of-type {  
margin-left: 20px;
}
 
.add-to-cart, .like {   
background: #ff9f1a;    
padding: 1.2em 1.5em;   
border: none;   
text-transform: UPPERCASE;  
font-weight: bold;  
color: #fff;    
text-decoration:none; 
-webkit-transition: background .3s ease; 
transition: background .3s ease;
}
 
.add-to-cart:hover, .like:hover {   
background: #b36800;    
color: #fff;    
text-decoration:none;
}
 
.not-available {    
text-align: center; 
line-height: 2em;
}
 
.not-available:before { 
font-family: fontawesome;   
content: "\f00d";   
color: #fff;
}
 
.orange {   
background: #ff9f1a;
}
 
.green {    
background: #85ad00;
}
 
.blue { 
background: #0076ad;
}
 
.tooltip-inner {    
padding: 1.3em;
} 
 
@-webkit-keyframes opacity { 
0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
} 
 
@keyframes opacity { 
0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}
/* === Header === */

.topnav { z-index:1; }
main { z-index:0; padding-top:20px; }

.topnav .active {
	background-color: #ffa500;  
	color: #436b32;
	font-weight:bold;
}

.topnav .active:hover {
	background-color: #ffa500;  
	color: #214910;
	cursor: default;
}

.topnav {
	overflow: hidden;
	background-color: #72af30;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}
.topnav .logo {
	width: 60px; padding:4px 10px 4px 10px;
	float:left;
}

.topnav .logo:hover {
	background-color: #72af30;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav .sign {
	float:right;
}

.topnav .icon {
	display: none;
}

/* --- Dropdown --- */

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;    
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: #efe;  /* 72af30 */
	min-width: 160px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: #436b32;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #547c43; 
	color: white;
}

.dropdown-content a:hover {
	background-color: #ded;
	color: #436b32;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --- Search --- */

.search-container {
	float: right;	border:0;
	margin: 0;	padding: 0;
}

.search-bar {
	display: flex;
	margin: auto;
	padding: 10px;
	justify-content: center;
}

.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}

.search-bar input, .search-btn {
	outline: transparent;
	border: 0; height: 30px;
	font-size: 18px;
	padding: 0 10px 0px 10px;
	margin-bottom:-2px;
}

.search-bar input {
	width:200px;
}

.search-bar input::placeholder {
	font-size:18px;
	opacity: 0.3;
}
.search-btn {
	background-color:#508d10;  /* 72af30 407c00 */
	color:#fff;
}

.search-btn:hover {
	background-color: #407c00;
}

/* -- Sign In -- */

/* Full-width input fields */
.signIn input[type=text],.signIn input[type=password], .signIn #signInrole {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
.signIn button {
	background-color: #72af30;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.signIn button:hover {
	background-color:#547c43;
}

/* Extra styles for the cancel button */
.signIn .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f60;
}
.signIn .cancelbtn:hover {
	background-color: #e05a00;
}

/* Center the image and position the close button */
.signIn .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.signIn img.avatar {
  width: 40%;
  border-radius: 50%;
}

.signIn .signInleft {
	width:60%;
}
.signIn .signInright {
	padding:20px;
	width:40%;
}

.signIn .container {
  padding: 16px;
  width:100%;
}

.signIn .forgotpw {
	width:100%;
	padding:10px;
}

.signIn .signInright span.psw {
	float:right;
	color:#547c43;
	font-size:17px;
}

.signIn .signInright span.psw a {
	color:#547c43;
	padding:0;
}

.signIn .signInright span.psw a:hover {
	color:#547c43;
	background-color:transparent;
	text-decoration: underline;
}

.signInleft h3{
	font: normal bold 45px 'Cookie', cursive;
	margin-top:0;
	color:  orange;
}

.signInleft h3 span{
	color:  #72af30;
}
.signInleft .signUpNow {
	color: #72af30; border: 2px solid #72af30; border-radius:40px;
	float:none; justify-content:center; width:200px;
	margin:0 auto;
}
.signInleft .signUpNow:hover {
	background-color: #72af30;
	color:#fff; border-radius:40px;
}

/* The Modal (background) */
.signIn {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
  color:#547c43;
}

/* Modal Content/Box */
.signIn .signIn-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	display:flex;
}

/* The Close Button (x) */
.signIn .close {
	position: relative;
	float:right; top:-20px; right:-10px;
	color: #547c43;
	font-size: 35px;
	font-weight: bold;
}

.signIn .close:hover,
.signIn .close:focus {
	color: orange;
	cursor: pointer;
}

/* Add Zoom Animation */
.signIn .animate {
	-webkit-animation: animatezoom 0.3s;
	animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
	.signIn .signInleft {
		display:none;
	}
	.signIn .signInright {
		width:100%;
	}
	.signIn span.psw {
		display: block;
		float: none;
	}
	.signIn .cancelbtn {
		width: 100%;
	}
}

/* -- StickyBar -- */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	
	.topnav.responsive {position: fixed;width: 100%;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a, .topnav .responsive .sign, .search-bar input {
		float: none;
		display: block;
		text-align: left;
	}
	.search-bar input {
		width:100%;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
	
	/* -- Search -- */
	
	
}


/* === Footer === */
footer{
	bottom: 0;
}
.footer-distributed{
	background-color: #214910;
 
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px 20px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed .footer-left .logoft {
	width:45px; margin-bottom:-7px;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3{
	color:  orange;
}

.footer-distributed h3 span{
	color:  #72af30;
}

.footer-distributed .footer-left .signUpNow2 {
	color: #fff; /* 72af30 */
	border: 2px solid #fff;
	border-radius:40px; 
	width:150px;
	text-decoration:none;
	padding:10px;
}

.footer-distributed .footer-left .signUpNow2:hover {
	background-color: orange;
	color:#fff;
	border:3px solid orange;
}
 
.footer-distributed .footer-links{
	color:  #74a5f5;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	text-align:center;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center button{
	background-color:  #72af30;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	border: 0;
}

.footer-distributed .footer-center button:hover {
	background-color:	#407c00;
	cursor:pointer;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #fff;  
	text-decoration: none;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #72af30;
	border-radius: 3px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons .fb:hover {
	background-color: #4267B2;
}
.footer-distributed .footer-icons .gg:hover {
	background-color: #fff;
}
.footer-distributed .footer-icons .gg:hover > i {
	background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}
.footer-distributed .footer-icons .inst:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.footer-distributed .footer-icons .twt:hover {
	background-color: #fff;
}
.footer-distributed .footer-icons .twt:hover > i {
	background: #00acee;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight:bold;
}
 

.footer-distributed .footer-icons a i {
	margin-top:10px;
}


@media (max-width: 600px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-left .logoft{
		margin: 10px 100px;
		width:100px;
	}
	
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.content {
		line-height: normal;
		font-size: auto;
	}
}